[submodule "submodules/GLC_lib"]
	path = submodules/GLC_lib
	url = https://github.com/laumaya/GLC_lib
[submodule "submodules/Font-Awesome"]
	path = submodules/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome
[submodule "submodules/3drepocore"]
	path = submodules/3drepocore
	url = https://github.com/3drepo/3drepocore
