/*.user
*~
Lib
Makefile
debug_me
malehead.obj
3drepogui
libovr.a
run
*.log
ui_*.h
*.o
*.ply
moc*.cpp
forms/*.cpp
forms/*.h
Makefile.*
qrc_fonts.cpp
qrc_fonts.o
qrc_resources.cpp
qrc_resources.o
debug

doc
html
latex
#Windows junk
*.vcxproj*
*.sln
*.suo
*.rc
*.opensdf
*.aps
*.sdf
resource.h

Debug
x64
