language: cpp

compiler:
     - gcc
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - gcc-4.9
            - g++-4.9
before_install:
    - export CXX="g++-4.9"
    - export CC="gcc-4.9"
    - echo ============ BOOST  INSTALL =============
    - sudo add-apt-repository -y ppa:boost-latest/ppa
    - sudo apt-get update
    - sudo apt-get install libboost1.55-all-dev
    - echo ============ MONGO  INSTALL =============
    - mkdir mongo
    - cd mongo
    - git clone https://github.com/mongodb/mongo-cxx-driver.git
    - cd mongo-cxx-driver
    - ls
    - scons -j2 --64 --mute --sharedclient --prefix=$HOME/mongo-cxx install
    - ls $HOME/mongo-cxx
    - cd ../../
    - echo ============ ASSIMP INSTALL =============
    - mkdir assimp
    - cd assimp
    - git clone --branch=multipart https://github.com/3drepo/assimp.git      
    - CXXFLAGS+=-std=c++11 cmake -DASSIMP_BUILD_TESTS=OFF assimp
    - sudo make -j2 install
    - cd ../
    - echo ============ BOUNCER INSTALL =============
    - git clone https://github.com/3drepo/3drepobouncer.git
    - ls
    - cd 3drepobouncer
    - MONGO_ROOT=$HOME/mongo-cxx cmake -DREPO_BUILD_CLIENT=OFF -DREPO_BUILD_TESTS=OFF  -DCMAKE_BUILD_TYPE=Release .
    - sudo make -j2 install
    - cd ../
    - echo =============== QT INSTALL ===============
    - sudo apt-add-repository -y ppa:beineri/opt-qt551
    - sudo apt-get -qq update
    - sudo apt-get -qq install qt55tools qt55svg qt55webkit qt55base qt55quick1 
    - ls /opt/qt55/include
    - ls /opt/qt55/include/QtGui
    - export QTDIR=/opt/qt55
    - ls $QTDIR
    - ls $QTDIR/bin
    - export PATH=$QTDIR/bin:$PATH
    - which qmake
    - echo =========== GLC_LIB INSTALL =============
    - git clone --branch=Branch_Version_3_0_0 https://github.com/3drepo/GLC_lib.git
    - cd GLC_lib
    - qmake -recursive
    - make -j2
    - sudo make install
    - cd ../
before_script:
    - ls
    - export MONGO_ROOT=$HOME/mongo-cxx
    - export BOOST_ROOT=/usr/local
    - export ASSIMP_ROOT=/usr/local
    - export GLC_ROOT=/usr/local/GLC_lib-3.0
    - export REPOBOUNCER_ROOT=/usr/local
    - qmake -recursive
    - make -j2
script:
    - ls /usr/local/lib
    - ls /usr/local/include

notifications:
    email: 
        recipients:
            - carmen.fan@3drepo.org
