language: cpp

compiler:
     - gcc
addons:
    apt:
        sources:
            - ubuntu-toolchain-r-test
        packages:
            - gcc-4.9
            - g++-4.9
before_install:
    - export CXX="g++-4.9"
    - export CC="gcc-4.9"
    - echo ============ BOOST  INSTALL =============
    - sudo add-apt-repository -y ppa:boost-latest/ppa
    - sudo apt-get update
    - sudo apt-get install libboost1.55-all-dev
    - echo ============ BOUNCER INSTALL =============
    - git clone https://github.com/3drepo/3drepobouncer.git
    - tar -zxvf 3drepobouncer/tools/ext_libs/mongo-cxx-1.1.0.tgz
    - tar -zxvf 3drepobouncer/tools/ext_libs/assimp-install.tgz
    - export MONGO_ROOT=$PWD/mongo-cxx-1.1.0 
    - export ASSIMP_ROOT=$PWD/assimp-install 
    - cd 3drepobouncer
    - cmake -DREPO_BUILD_CLIENT=OFF -DREPO_BUILD_TESTS=OFF  -DCMAKE_BUILD_TYPE=Release .
    - sudo make -j2 install
    - cd ../
    - echo =============== QT INSTALL ===============
    - sudo apt-add-repository -y ppa:beineri/opt-qt551
    - sudo apt-get -qq update
    - sudo apt-get -qq install qt55tools qt55svg qt55webkit qt55base qt55quick1 qt55x11extras
    - sudo cp g++-base.conf /opt/qt55/mkspecs/common
    - export QTDIR=/opt/qt55
    - export PATH=$QTDIR/bin:$PATH
    - tar -zxvf tools/ext_libs/GLC_LIB_install.tgz
    - ls
    - export GLC_ROOT=$PWD/GLC_LIB_install    
    - ls $GLC_ROOT/include
before_script:
    - export BOOST_ROOT=/usr/local
    - export REPOBOUNCER_ROOT=/usr/local
script:
    - qmake -recursive
    - CXXFLAGS+=-std=c++11 make -j2

notifications:
    email: 
        recipients:
            - team@3drepo.org
